   <div class="product-layout product-list col-xs-12">
                                <div class="product-thumb">
                                     <div class="image">
                                        <a href="<%= product_path(id: product.id) %>"><img src="<%= product.image %>" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>
                                    </div>
                                    <div>
                                        <div class="caption">
                                            <h4><a href="product.html"><%= product.name %></a></h4>
                                          
                                            <p class="price"> <span class="price-new"><%= product.price %></</span> <span class="price-old"><%= product.price %></</span><p>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i> <span>Add to Wish List</span></button>
                                                <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i> <span>Compare this Product</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>