<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>Marketshop - eCommerce HTML Template</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <title>ShoppingCart</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- CSS Part End-->
    
</head>

<body>

    <%= render partial: 'layouts/header' %>
        <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </div>
    <%= javascript_include_tag 'application' %>
    <!-- JS Part End-->
</body>

</html>
